<div *ngFor="let rota of rotas">
    <mat-card>
      <img mat-card-image src="../../assets/img/cachoeira.jpg" alt="Cachoeira do romcador">
      <mat-card-header class="align-items-top">
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-card-title style="font-weight: bold">{{rota.titulo}}</mat-card-title>
            </div>
            <div>
              <div style="padding:3px; border-radius: 30%; margin-right: 5px; background-color: #CC3434; color: #ffffff"><i class="fas fa-stopwatch"></i><span>3d</span></div>
                <div style="padding:3px; border-radius: 30%; margin-right: 5px; background-color: #447e9b; color: #ffffff"><i class="fas fa-road"></i><span>22km</span></div>
              <div style="padding:10px; border-radius: 100%; margin-right: 5px; background-color: #f5dd5d; color: #ffffff"><i class="fas fa-hand-holding-usd"></i><span>R$120</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <i style="margin-top: 5px; color: #f5dd5d;" class="fas fa-star"></i>
              <i style="margin-top: 5px; color: #f5dd5d;" class="fas fa-star"></i>
              <i style="margin-top: 5px; color: #f5dd5d;" class="fas fa-star-half-alt"></i>
            </div>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
</div>
