<style>
    #topo img{
        width: 100vw;
    }

    #topo h4{
        font-family: 'Poppins', 'Roboto', sans-serif;
        padding: 5px 10px;
    }

    #topo .info {
        font-size: 20px;
        padding: 5px 10px;
    }

    #topo .info i{
        border: 2px solid;
        border-radius: 2rem;
        padding: 3px;
    }

    #resumo {
        text-align: justify;
        padding: 5px 10px;
        font-family: 'Poppins', 'Roboto', sans-serif;
    }

    #dicas {
        text-align: left;
        padding: 5px 10px;
        font-family: 'Poppins', 'Roboto', sans-serif;
    }

    #dicas span {
        font-family: 'Poppins', 'Roboto', sans-serif;
        font-weight: bold;
    }

    .fas {
        font-size: 13px;
        margin-left: 5px;
        margin-right: 2px;
    }

</style>
<section id="topo">
    <img src="../../assets/img/cachoeira.jpg">
    <h4>Cachoeira Escorrega Macaco</h4>
    <div class="info">
        <i class="fas fa-wheelchair" style="color: #20639b;"></i>
        <a>2</a>
        <i class="fas fa-concierge-bell" style="color: #ed553b;"></i>
        <a>4</a>
        <i class="fas fa-hand-holding-usd" style="color: #f6d55c;"></i>
        <a>5</a>
        <i class="fas fa-recycle" style="color: #3caea3;"></i>
        <a>4</a>
    </div>
</section>
<section id="resumo">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>
<section id="dicas">
    <span>Como chegar:</span>
    <ul>
        <li>
            <i class="fas fa-bus"></i> número 450
        </li>
        <li>
            <i class="fas fa-car"></i> TO 010
        </li>
    </ul>
    <p><i class="fas fa-exclamation-triangle" style="color: #ed553b;"></i>
        <span>Importante:</span> use um tênis antiderrapante</p>
</section>
