
<section id="topo">
    <img src="../../assets/img/cachoeira.jpg">
    <h4>Cachoeira Escorrega Macaco</h4>
    <div class="info">
        <i class="fas fa-wheelchair" style="color: #20639b;"></i>
        <a>2</a>
        <i class="fas fa-concierge-bell" style="color: #ed553b;"></i>
        <a>4</a>
        <i class="fas fa-hand-holding-usd" style="color: #f6d55c;"></i>
        <a>5</a>
        <i class="fas fa-recycle" style="color: #3caea3;"></i>
        <a>4</a>
    </div>
</section>
<section id="resumo">
    <p>Gastronomia popular e quiosques em areal ribeirinho com espaços sombreados e área de banho protegida por tela.</p>
</section>
<section id="dicas">
    <span>Como chegar:</span>
    <ul>
        <li>
            <i class="fas fa-bus"></i> número 450
        </li>
        <li>
            <i class="fas fa-car"></i> TO 010
        </li>
    </ul>
    <p><i class="fas fa-exclamation-triangle" style="color: #ed553b;"></i>
        <span>Importante:</span> use um tênis antiderrapante</p>
</section>
<span class="mr-3">Comentários</span>
<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="imagem-pessoa"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Gostar</button>
      <button mat-button>Compartilhar</button>
      <button mat-button>Comentar</button>
    </mat-card-actions>
  </mat-card>
</div>

