<mat-sidenav-container class="cc">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="font-size: 10px;">Giovanna <br>
      <span>Seus pontos: 1200</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/rotas" routerLinkActive="active" (click)="drawer.toggle()">Rotas</a>
      <a mat-list-item routerLink="/destinos" routerLinkActive="active" (click)="drawer.toggle()">Destinos</a>
      <a mat-list-item routerLink="/minhas-rotas" routerLinkActive="active" (click)="drawer.toggle()">Minhas Rotas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="sidenav-color">
      <div class="row" style="width: 100vw">
        <div class="col-6">
          <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="drawer.toggle()"
                  *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span style="font-family: 'Lobster', cursive;">Jataí Rotas</span>
        </div>
        <div class="col-6">
          <div class="col-4 float-right mr-4"><img src="../../assets/img/logo.png" style="max-height: 30px; margin-left: 100%"></div>

        </div>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
